{% extends 'profile/basePage.html.twig' %}

{% set activePage = 3 %}

{% import ('components/bookPreview.html.twig') as bookPreview %}

{% block title %}Видалити аккаунт{% endblock %}

{% block pageContent %}
    <div class="card overflow-hidden p-4">
        <div class="row no-gutters row-bordered row-border-light">
            {% for book in wishlist %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    {{ bookPreview.render(book) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock pageContent %}