<div class="col-auto col-md-3 col-xl-2 px-sm-2 bg-white">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-3 text-white min-vh-100">
        <span class="d-flex align-items-center px-5 pb-3 mb-md-0 me-md-auto fs-5 d-none d-sm-inline text-dark">
            Фільтри
        </span>

        {% include('discover/components/filterMenu.html.twig') %}

    </div>
</div>