{% extends 'base.html.twig' %}

{% import ('home/components/compilation.html.twig') as compilation %}

{% block content %}
    <div class="card">
        {{ compilation.render(compilations) }}
    </div>
{% endblock content %}