<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="#" class="navbar-brand">Логотип сайту</a>
            </div>
        </div>
    </div>
</footer>