<header class="bg-light py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="row">
                    <div class="col-6 btn-group-vertical">
                        <a href="{{ path('home') }}" class="navbar-brand">BookStore</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-outline-info">
                            Каталог
                        </a>
                    </div>
                </div>
            </div>
            {% include('components/main/searchForm.html.twig') %}
            {% include('components/main/basketBlock.html.twig') %}
            {% include('components/main/userBlock.html.twig') %}
        </div>
    </div>
</header>