body {
    background-color: #d2d2d5;
}
a {
    color: #4b4949;
}
.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}
.bg-form-card {
    background-color: rgb(197, 199, 206);
}
.book-list {
    padding: 5em 1em 1em 1em;
}
.header-link {
    color: whitesmoke;
}
.book-title {
    min-height: 3rem;
}
.compilation {
    padding: 1em;
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}
.sticker {
    margin-bottom: -1rem;
    margin-left: 1.5rem;
    float: left;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px 20px 30px 20px;
    color: white;
}
.crossed {
    text-decoration-line: line-through;
}
.discount {
    color: #d32030;
}
.book-preview a {
    text-decoration: none;
}
.book-preview a:hover {
    text-decoration: underline;
}
.book-preview-data {
    min-height: 10rem;
}