{% macro render(compilations) %}
    {% import ('components/bookPreview.html.twig') as bookPreview %}

    {% for compilation in compilations %}
        <div class="container">
            <div class="compilation">
                <div class="sticker" style="background-color: {{ compilation.color }}">
                    <span>{{ compilation.title }}</span>
                </div>
                <div class="container swiper" data-controller="carousel">
                    <div class="swiper-wrapper">
                        {% for book in compilation.books %}
                            <div class="swiper-slide active h-100" data-slider-target="item">
                                {{ bookPreview.render(book) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}