<footer class="bg-dark text-center mt-5">
    <div class="container p-4" style="background-color: rgba(0, 0, 0, 0.05);"></div>

    <div class="text-center text-light p-3">
        © 2020 Copyright:
        <a href="{{ path('home') }}" class="navbar-brand">@{{ 'now'|date('Y') }} Copyright: BookStore</a>
    </div>
</footer>